version: '1.0'
services:
  app1: &app
    image: evertonlourens/jungle-gaming:latest
    build: .
    hostname: app1
    environment:
      NODE_ENV: production
      DB_URL: "postgres://postgres:12345678@postgres:5432/postgres"
      DB_POOL: 100
      PINO_LOG_LEVEL: debug
    expose:
      - 8080
    depends_on:
      - postgres
    ulimits:
      nproc: 1000000
      nofile:
        soft: 1000000
        hard: 1000000
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: "1G"
  app2:
    <<: *app
    hostname: app2
  postgres:
    image: postgres
    command: postgres -c 'max_connections=450' -c 'log_error_verbosity=terse' -c 'log_min_messages=ERROR'
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345678
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s
    deploy:
      resources:
        limits:
          cpus: '0.4'
          memory: '1.5GB'
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      app1:
        condition: service_started
      app2:
        condition: service_started
#    depends_on:
#      - app1
#      - app2
    ports:
      - "9999:9999"